/* Estilos padrão */
body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .form, #qrcode-container {
    font-family: Helvetica;
    max-width: 400px;
    margin: 0 10px;
    padding: 16px;
    background: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .form {
    flex: 1;
  }
  
  .form h1, #qrcode-container h1 {
    font-weight: bold;
    background:#00a335;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    font-size: 25px;
    width: 100%;
  }
  
  .form input[type="text"],
  .form input[type="url"] {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #50788a;
  }
  
  .form input[type="text"]:focus,
  .form input[type="url"]:focus {
    box-shadow: 0 0 5px#00a335;
    padding: 3%;
    border: 1px solid#00a335;
  }
  
  .form button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: calc(33.33% - 10px);
    margin: 0 auto;
    padding: 3%;
    background:#00a335;
    border-bottom: 2px solid#00a335;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    cursor: pointer;
  }
  
  .form button:hover {
    background: #50788a;
  }
  
  .qrcode {
    padding: 16px;
  }
  
  .qrcode img {
    margin: 0 auto;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  /* Responsividade */
  /* @media (max-width: 768px) {
    .form, #qrcode-container {
      max-width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    .form, #qrcode-container {
      max-width: 100%;
      margin: 0;
    }
  
    .form button {
      width: 100%;
    }
  } */